.bg {
    background-image:url('../image/upload_bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    opacity: .3;
}

.file-upload {
    padding: 50px;
    background:#fff;
    width: 400px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #61748C;
    border: none;
    padding: 10px;
    border-radius: 4px;
    transition: all .4s linear;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    position:relative;
}


.file-upload-btn:before,
.file-upload-btn:after {
    transition:all .7s linear;
    border-style:solid;
    content:"";
    position:absolute;
    height: 24px;
    width: 24px;
    border-width:0px;
    border-color:#61748C;
}

.file-upload-btn:before {
    border-right-width: 2px;
    border-top-width: 2px;
    right: -5px;
    top:-5px;
}

.file-upload-btn:after {
    border-left-width: 2px;
    border-bottom-width: 2px;
    left: -5px;
    bottom:-5px;
}

.file-upload-btn:hover:before,
.file-upload-btn:hover:after {
    width: 100%;
    height: 100%;
    border-color:#fff;
}

.file-upload-btn:hover {
    background:#394759;
    cursor: pointer;
}



.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #61748C;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #394759;
    border: 4px solid #ffffff;
}

.image-title-wrap {
    padding: 0 15px;
    color: #222;
    display:flex;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #171E26;
    padding: 60px 0;
    font-weight:600;
    transition:.4s linear;
}

.image-upload-wrap:hover .drag-text h3 {
    color : #ececec;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.image-title-wrap > button {
    margin: 10px;
    color: #ececec;
    background: #ff4655;
    border: none;
    padding: 10px;
    border-radius: 4px;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    text-align:center;
    transition:.4s linear;
}

.image-title-wrap > button:hover {
    background: #0f1923;
    box-shadow:5px 5px 4px 1px rgba(0, 0, 0, 0.205);
    cursor: pointer;
}

.image-title {
    width: 200px;
}

.push-image {
    width: 130px;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}